{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'workouts/delete_page.css' %}">

    <form method="POST">
        {% csrf_token %}
        <select class="form-control" name="deleted_workout">
            
            {% for workout in models %}
                <option value="{{ workout.id }}" class="items">{{workout}}</option>
            {% endfor %}
                
        </select>

        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
    

{% endblock %}