{% extends 'base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block content %}

    {{ workoutsplit.name }}
    
    <form method="POST">
        {% csrf_token %}

        <input class="btn btn-primary" type="submit" name="next_day" value="Next Day">
    </form>

    <form method="POST">
        {% csrf_token %}

        <p>Weight</p>
        {% render_field form.weight class="form-control" %}
        <p>Reps</p>
        {% render_field form.reps class="form-control" %}
        <input class="btn btn-primary" type="submit" name="form_submit" value="Submit" />

    </form>
    
    {% for workout in workoutsplit %}
        {{ workout.date }}

        <table>
            <thead>
                <tr>
                    <th>Weight</th>
                    <th>Reps</th>
                </tr>
            </thead>
            <tbody>
                
                {% for weight,reps in workout.weight|zip_lists:workout.reps %}
                    <tr>
                        <td>{{weight}}</td>
                        <td>{{reps}}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>

    {% endfor %}


{% endblock %}