{% extends 'base.html' %}

{% block content %}

    {{ workoutsplit.name }}
    
    <form method="POST">
        {% csrf_token %}

        <input class="btn btn-primary" type="submit" name="next_day" value="Next Day">
    </form>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" name="form_submit" value="Submit" />

    </form>

    <!-- <table>
        <thead>
            <tr>
                <th>Weight</th>
                <th>Reps</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table> -->

    {% for reps in workoutsplit.reps %}
        {{ reps }}
    {% endfor %}
        

{% endblock %}