{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron about-jumbotron">
        <p id="about-text">Full-stack personal project using Django, HTML, CSS, Bootstrap, Javascript, and Google Charts.</p>
        <div class="buttons">
            <a href="https://github.com/bsule" target="_blank"><button type="button">GitHub</button></a>
            <a href="https://www.linkedin.com/in/bilal-suleiman-a1aa741b9/" target="_blank" id="linkedinbtn"><button type="button">LinkedIn</button></a>
            <a href="mailto:bilal.suleiman@gmail.com"><button type="button">Email</button></a>
        </div>
    </div>
    
    
{% endblock %}