
@font-face{
    font-family: Montserrat;
    src:url(../font/Montserrat-VariableFont_wght.ttf);
}

.navbar .navbar-brand{
    color: #ffffff;
    font-weight: bold;
}

.nav-item{
    margin-left: 2em;
    font-size: 105%;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#login_signup{
    margin-top:10px;
}

body{
    background-color: #121212;
}

.jumbotron{
    background-color: #121212;
}

.btn-getstarted{
    margin-top: 20px;
}

.about-jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-text{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    justify-content: center;
}

button{
    border: 1px #fff solid;
    background-color: #fff;
    color: black;
    font-weight: bold;
}

.buttons{
    display: flex;
    justify-content: center;
}

#linkedinbtn{
    margin-left: 5px;
    margin-right: 5px;
}

.signup_container{
    margin-top: 30px;
}