
@font-face{
    font-family: Montserrat;
    src:url(../font/Montserrat-VariableFont_wght.ttf);
}

.navbar .navbar-brand{
    color: #ffffff;
    font-weight: bold;
}

.nav-item{
    margin-left: 2em;
    font-size: 105%;
}

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#login_signup{
    margin-top:10px;
}

body{
    background-color: #121212;
}

