
.items{
    color: black;
}

.form-control{
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 35vh;
}

#submitbutton{
    width: 30%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

@media screen and (max-width: 770px) {
    .form-control{
        width: 70%;
    }
    #submitbutton{
        width: 70%;
    }
}