
table, th, td{
    border: 1px solid;
    width: 25%;
}

table{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

th{
    background-color: #0275d8;
}

td{
    background-color: #242526;
}

.inputs{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.top{
    display: flex ;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

h5{
    display: grid;
    justify-content: center;
}

#datelabel{
    display: grid;
    justify-content: center;
}

#weightlabel{
    margin-top: 5px;
}

#replabel{
    margin-top: 5px;
}

.submit-btn{
    margin-top: 10px;
    width: 100%;
}

.submit-btn2{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.graph_hide{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 30px;
}

#linechart_material{
    width: 640px;
    height: 400px;
    margin: 0px auto 20px auto;
    display: none;
}

/* changing button positioning and sizing when screen gets smaller */
@media screen and (max-width: 991px) {
    .top{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .firstsubmitbtn{
        width: 50vh;
    }
    .deletebtn{
        width: 50vh;
        margin-top: 1vh;
        margin-bottom: 2vh;
    }
    .inputs{
        width: 70%;
    }
    table{
        width: 70%;
    }
}

@media screen and (max-width: 490px) {
    .firstsubmitbtn{
        width: 40vh;
    }
    .deletebtn{
        width: 40vh;
    }
    #linechart_material{
        width: 300px;
        height: 300px;
    }
    #chart_container{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 380px) {
    .top{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .firstsubmitbtn{
        width: 30vh;
    }
    .deletebtn{
        width: 30vh;
        margin-top: 1vh;
        margin-bottom: 2vh;
    }
    .inputs{
        width: 85%;
    }
    table{
        width: 85%;
    }
}