
.workout_list_class{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
}

p{
    margin-top: 2vh;
}

a{
    color: white;
}

a:hover{
    color: white;
}
