
.workout_list_class{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    font-size: larger;
}

.new-and-delete, .new-only{
    display: flex;
    justify-content: space-between;
}

.submitbtn{
    margin-top: 20px;
    margin-left: 100px;
    width: 170px;
}

.deletebtn{
    margin-top: 20px;
    margin-right: 100px;
    width: 170px;
}

.link{
    margin-bottom: 2vh;
}

a{
    color: white;
}

a:hover{
    color: white;
}

.screen-small-new{
    display: none;
}

.screen-small-delete{
    display: none;
}

@media screen and (max-width: 768px) {
    .new-and-delete{
        display: none;
    }
    .screen-small-new{
        display: flex;
        justify-content: center;
    }
    .screen-small-delete{
        display: flex;
        justify-content: center;
    }
    .submitbtn{
        margin-left: 0;
        margin-top: 25px;
        width: 150px;
    }
    .deletebtn{
        margin-right: 0;
        margin-top: 1vh;
        width: 150px;
    }
    .workout_list_class{
        margin-top: 15px;
    }
}