
.workout_list_class{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    font-size: larger;
}

.new_and_delete{
    display: flex;
    justify-content: space-between;
}

.submitbtn{
    margin-top: 20px;
    margin-left: 100px;
}

.deletebtn{
    margin-top: 20px;
    margin-right: 100px;
}

.link{
    margin-bottom: 2vh;
}

a{
    color: white;
}

a:hover{
    color: white;
}
