# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

../workout_tracker/accounts/migrations
../workout_tracker/workouts/migrations
../workout_tracker/db.sqlite3